@{
    ViewData["Title"] = "Datos personales Manuel";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.Nombre &nbsp; @ViewBag.Apellido</h2>
<p>Edad :  @ViewBag.Edad</p>
<h3>Contactos</h3>
<p>Correo @ViewBag.Correo</p>
<p>Telefono @ViewBag.Telefono</p>
