@{
    ViewData["Title"] = "Datos Personales";
}
<h1>@ViewData["Title"]</h1>

<p class="text-center">@ViewBag.Nombre </p>
<p class="text-center">@ViewBag.Apellidos </p>
<p class="text-center">@ViewBag.Edad </p>
<p class="text-center">@ViewBag.Correo </p>
<p class="text-center">@ViewBag.Telefono </p>
